/**********************************************
* Ink v1.0.5 - Copyright 2013 ZURB Inc        *
**********************************************/

@import "reset/reset";
@import "responsive-grid/_responsive-grid";
@import "block-grid/block-grid";
@import "alignment-visibility/alignment-visibility";
@import "typography/typography";
@import "panels/panels";
@import "buttons/buttons";
@import "outlook-mobile/outlook-mobile";

$max-width: 612px;
$container-width: 580px;
$padding-med: 12px;

$columns: 12;
$base: (($max-width / $columns) - $padding-med);


@for $i from 0 through $columns {
.test-#{$i} {
  width: ($base + ($i * 51px) );
}
  $i: $i + 1;
};
